body {
	    background-image: url("mars.jpg");
	    background-color: #cccccc;
	    background-attachment: fixed;
	    background-position: center; 
	    background-repeat: no-repeat;
		font-family: "Trebuchet MS", Helvetica, sans-serif ;
		/*background-size: auto 150%;*/
	}

@media (max-aspect-ratio: 1000/369){
	body {background-size: auto 150%;}
}

@media (min-aspect-ratio: 1000/369){
	body {background-size: 100% auto;}
}


div{
	background-color: rgba(220,220,220,.5);
	margin: 10px;
}
div#story{
	background-color: rgba(220,220,220,.8);
	position: fixed;
	padding: 10px;
	float: right;
	display: block;
	margin: auto;
}

.storyButton{
	bottom: 10px;
	background-color: rgba(200,200,200,.8);
}

.tooltip{
	font-size: 9px;
	position: relative;
	background-color: rgba(0,0,0,.7);
}
.spvSvg{
	display: block;
	margin-right: auto;
	margin-left: auto;
}


@media (max-width:1272px) {
	div{
		display: block;
		margin: 10px;
	}

	#mpvDiv{
		width: 800px;
		margin-left: auto;
		margin-right: auto;

	}

	#spvDiv{
		background-color: rgba(220,220,220,.5);
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	.spvSvg{
		width: 800px;

	}

	#spInfoDiv{
		background-color: rgba(220,220,220,.5);
		width: 800px;		
		height: 200px;
		margin-left: auto;
		margin-right: auto;
	}
	#explainDimDiv{
		background-color: rgba(220,220,220,.5);
		width: 780px;
		margin-left: auto;
		margin-right: auto;
	}

}
@media (min-width:1273px) {
	#mpvDiv{
		width: 800px;
		height: 400px;
		float: left;

	}

	#spvDiv{
		width: 400px
		height: 400px;
		float: right;
	}
	.spvSvg{
		width: 400px;
	}

	#spInfoDiv{
		width: 900px;
		height: 200px;
		float: right;
		position:relative;
	}
	#explainDimDiv{
		width: 280px;
		height: 180px;
		float: left;
		position:relative;
	}

/*	.infoCol{
	height: 100%;
	background-color: rgba(0,0,0,0);
	padding: 5;
	display: inline-block;
	position: absolute;
	}*/
}

#explainDimDiv{
	padding: 10px;
}

div#button{
	width: 100px;
	height: 30px;
	position: relative;
	top: 450px;
	background-color:red;
	color: black;}

div.intro{
	width: 400px;
	height: 400px;
	position:absolute;
	top: 20px;
	right: 20px;
}
svg{
	display: block;
	margin: auto;
}

h1{
	text-align: center;
	color: rgba(220,220,220,1);
	min-width: 800px;
}
h4{
	text-align: center;
}

