.dot {
  fill: #ff0;
  stroke: #fff;
  stroke-width: 1px;
}

.orbit{
  fill: none;
  stroke:red;
  stroke-width: 2px;
}

.au{
  fill: none;
  stroke:blue;
  stroke-width: 1px;
  stroke-dasharray:"(10,10)";
}