
.easterL{
  fill: #0ff;
}

.easterR{
  fill: #f00;
}

.dot {
  fill: #000;
  opacity: .3;
  stroke: rgba(0,0,0,0);
  /*stroke-opacity: 0;*/
  stroke-width: 6;
}

.selDot {
  fill: #f00;
  opacity: 1;

}
.axis{
  fill: none;
  stroke: #000;
}
.tick > text{
  fill: #000;
  stroke: none;
}

.axisTitle{

}

.titleButton{
  fill: #ddd;
  stroke: #000;
  stroke-width:1;

}

.plotMenuButton{
  fill: #ddd;
  opacity: .8;
}

.plotMenuButton > text{
  fill: #000;
  opacity: 1;

} 
.entry{
  fill: #aaa;
  opacity: .8;
}

.entry > text{
  fill: #000;
  opacity: 1;
} 

.highlight{
  fill: rgba(196,119,73,1);
  opacity: 1;
}


.x{
}

.y{

}

.orbit{
  fill: none;
  stroke:red;
  stroke-width: 2px;
}

.au{
  fill: none;
  stroke:blue;
  stroke-width: 1px;
  stroke-dasharray:"(10,10)";
}


.star{
  fill: yellow;
  stroke:yellow;
  stroke-width: 1px;
  ;
}

text{
  font-family: "Trebuchet MS", Helvetica, sans-serif ;
  cursor: default;
}
