.dot {
  fill: #000;
  stroke: #000;
  stroke-width: 1px;
}

.xAxis{
  stroke: #000;
  stroke-width:2px;
}

.yAxis{
  stroke: #000;
  stroke-width:2px;
}

.orbit{
  fill: none;
  stroke:red;
  stroke-width: 2px;
}

.au{
  fill: none;
  stroke:blue;
  stroke-width: 1px;
  stroke-dasharray:"(10,10)";
}


.star{
  fill: yellow;
  stroke:yellow;
  stroke-width: 1px;
  ;
}